<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarvis.tts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application android:label="JarvisTTS" android:allowBackup="false">
        <service
            android:name=".TtsPlayerService"
            android:exported="true"/>
    </application>
</manifest>
